<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soundary.last1meter">
<!-- 그래들이 빌드 과정을 설정하는 값이라면, manifests는 안드로이드 OS에 앱을 로딩하는 설정이다. 앱의 속성값이라 생각해놓자.-->
<!-- allowBackup은 안드로이드가 기본으로 제공하는 백업 기능에 앱을 연동할지 물어보는 역할을 한다.-->
<!-- fullBackupContent는 데이터 중 어떤 것을 백업할지에 대한 규칙이다.-->
<!-- icon은 앱의 아이콘 파일이다. label은 앱의 이름이다. roundIcon은 아이콘의 모양을 유연하게(둥그렇게)만들어둔 속성 파일을 가져온다.-->
<!-- supportRtl은 아랍어같은(오_>왼읽기) 언어를 지원하는지 여부를 물어본다.-->
<!-- theme는 앱의 테마(스타일의 기본값이 모여있는 집합?)값을 담고 있다. targetApi는 SDK 버전이다. by 채승운-->

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Last1Meter">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Last1Meter">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
<!-- activity란, 안드로이드의 생명주기 중 하나이다. 생명주기란? 공부할것. 눈에 보이는 화면의 생명주기를 담당한다고 생각하자.-->
<!-- intent-filter는 앱과 OS 사이에 주고받는 신호를 필터링한다. by 채승운-->
</manifest>